.my-backdrop-mask {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-color: var(--backdropBackground);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.my-backdrop-mask-open {
    opacity: 1;
    pointer-events: visible;
}
